#nfty-village{
    font-size: 24px;
    font-weight: bold;
}
.left-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#faf-btn{
    border:1px solid #487FB9;
    font-size: 20px;
    border-radius: 5px;
    margin: 15px;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
}
#input{
    font-weight: bolder;
    color: black;
    font-size: 15px;
    width: fit-content;
}
#divider{
    height: 20px;
    border-left: 1px solid  black;
    /* position: absolute; */
    margin: 5px 10px;
}
.divider-div{
    display: flex;
    align-items: center;
}
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}
